{
    "Telegram": {
        "Token"         : "YourTelegramToken",
        "ProxySettings" : {
            "Server"    : "socks.proxy.server",
            "User"      : "user",
            "Password"  : "password"
        }
    },
    "Slack": {
        "Token" : "YourSlackToken"
    },
    "Commands": [
        "SomeCmd"
    ],
    "Admins": [{
        "UserId"   : "user",
        "Password" : "password"
    }],
    "Debug" : false,
    "API": {
        "Port": 8080
    },
    "HomeMon": {
        "HistorySize": 100
    }
}
